@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://use.typekit.net/zfs6qfy.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display";
    border: 0;
}

/* Utility Class */

.flex-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upward-head {
    display: inline-block;
    margin-top: -40px;
    padding: 11px 40px;
    background-color: #354463;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
}

/* Buy me Coffee  */

.buy-me-coffee {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: rgb(189, 95, 255);
    color: white;
    border-radius: 32px;
    position: fixed;
    right: 18px;
    bottom: 18px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    z-index: 9999;
    cursor: pointer;
    font-weight: 600;
    transition: 0.25s;
}

/* For smaller device :: below 320px */

@media (max-width: 319px) {
    main .content>.stop-message {
        overflow-x: hidden;
    }

    section.take-action .action-content {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

/* header */
header {
    width: 100%;
    height: 96px;
    z-index: 5;
    background: #fff;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    background: #fff;
    flex-wrap: wrap;
    z-index: 10;
}

.logo {
    width: 160px;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: poynter-oldstyle-display, sans-serif;
    font-size: 22px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 900;
}

header nav button {
    display: none;
}

header nav span {
    padding: 18px;
}

header nav span>i {
    font-size: 24px;
}

header .sub-navigation.mobile {
    height: 213px;
    width: 100%;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    background: #fff;
    transform: translateY(-300px);
    padding: 20px;
    z-index: 1;
}

header nav .sub-navigation.desktop {
    display: none;
}

header .sub-navigation a {
    text-decoration: none;
    color: #000;
}

header .sub-navigation button {
    text-decoration: none;
    color: #354463;
    background-color: #c1f7d5;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 0px;
    padding: 13px 20px;
    border-radius: 30px;
    border: 0;
    width: 100%;
}

header .sub-navigation button:hover {
    background-color: #354463;
    color: #c1f7d5;
}

header .sub-navigation.mobile.show-menu {
    transform: translateY(0px);
}

/* Hero Section */

main {
    width: 100%;
    height: 627px;
    padding: 80px 10px;
    background: linear-gradient(180deg,
            rgba(53, 68, 99, 0.31),
            rgba(53, 68, 99, 0.31)),
        url("https://assets.website-files.com/5bfeef7b147a62e932311b5c/5bfef757f3399e1bf6e7a0e5_annie-spratt-135307-unsplash%402x.png");
    background-position: right top;
    display: flex;
    justify-content: space-between;
    background-size: auto, cover;
    flex-direction: column;
}

main .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

main .content>.stop-message {
    height: 50%;
}

main .content>.stop-message p {
    font-family: "flood-std";
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 300;
    line-height: 46px;
    color: #fff;
    width: 296px;
    padding-right: 40px;
}

main .content>.hero-message {
    padding: 20px;
    height: 50%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

main .content>.hero-message p:nth-of-type(1) {
    font-size: 20px;
    line-height: 28px;
    color: #354463;
    font-weight: 700;
}

main .content>.hero-message p:nth-of-type(2) {
    text-decoration: underline;
    text-decoration-color: #354463;
    color: #354463;
    cursor: pointer;
}

main .content>.hero-message p:nth-of-type(2):hover {
    opacity: 0.5;
}

/* Action Section */

section.take-action {
    background: #c1f7d5;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
}

section.take-action>.upward-head {
    margin-top: -20px;
}

section.take-action .action-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    /* margin-top: 10px; */
    /* padding: 60px 10px; */
    padding-top: 60px;
    padding-bottom: 60px;
}

section.take-action .action-content .action {
    width: 100%;
    padding-left: 10px;
}

section.take-action .action-content .action>h4 {
    font-size: 18px;
    line-height: 22px;
    color: #354463;
    margin-bottom: 10px;
    text-transform: capitalize;
}

section.take-action .action-content .action>p {
    font-size: 14px;
    line-height: 20px;
    color: #354463;
    margin-bottom: 10px;
    font-weight: 300;
}

/* What We DO Section */
section.what-we-do {
    background-color: #354463;
    width: 100%;
    padding-top: 56px;
    padding-bottom: 56px;
}

section.what-we-do .container {
    width: 100%;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

section.what-we-do .container h3 {
    display: inline-block;
    margin-left: 0px;
    background-color: #fff;
    color: #354463;
    font-weight: 300;
    padding: 11px 40px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

section.what-we-do .container p {
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 700;
}

section.what-we-do .container .card-wrapper {
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

section.what-we-do .container .card-wrapper .card {
    width: 90%;
    background: #fff;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 10px;
}

section.what-we-do .container .card-wrapper .card .card-img {
    width: 90%;
    overflow: hidden;
    margin: auto;
    margin-top: -40px;
    z-index: 1;
}

section.what-we-do .container .card-wrapper .card .card-img img {
    width: 100%;
    object-fit: fill;
}

section.what-we-do .container .card-wrapper .card>h4 {
    text-transform: capitalize;
    text-align: center;
    margin-top: 25px;
}

section.what-we-do .container .card-wrapper .card>p {
    font-family: komet, sans-serif;
    color: #354463;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

section.what-we-do .container .card-wrapper .card>button.read-more {
    padding: 13px 20px;
    border-radius: 30px;
    background-color: #c1f7d5;
    color: #354463;
    font-size: 18px;
    line-height: 22px;
    border: 0;
    margin: auto;
    display: inline-block;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 700;
}

section.what-we-do .container .card-wrapper .card>button.read-more:hover {
    color: #c1f7d5;
    background-color: #354463;
}

/* Climate Change Facts Section */

section.climate-change-facts {
    margin: auto;
    background-image: url(https://assets.website-files.com/5bfeef7b147a62e932311b5c/5e24bceccc9ad7e29f4af3fa_Did%20you%20know%20background.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 1808px; */
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
}

section.climate-change-facts .content {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 640px;
    padding-right: 10px;
    padding-left: 10px;
}

section.climate-change-facts .content .left-content>h3 {
    font-size: 44px;
    line-height: 46px;
    color: #fff;
    font-family: "flood-std";
    margin-top: 30px;
    font-weight: 300;
    margin-bottom: 50px;
}

section.climate-change-facts .content .left-content>button {
    padding: 13px 40px;
    border-radius: 30px;
    background-color: #c1f7d5;
    color: #354463;
    font-size: 18px;
    line-height: 22px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    border: 0px;
    text-transform: capitalize;
    font-weight: 700;
}

section.climate-change-facts .content>.fact-card-wrapper {
    width: 100%;
    flex-direction: column;
    margin-top: 70px;
    gap: 50px;
}

section.climate-change-facts .content>.fact-card-wrapper>.fact-card {
    position: relative;
}

section.climate-change-facts .content>.fact-card-wrapper>.fact-card h3 {
    display: inline-block;
    padding: 11px 40px;
    background-color: #354463;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
}

section.climate-change-facts .content>.fact-card-wrapper>.fact-card {
    width: 100%;
    background: #fff;
    padding: 60px 32px;
}

section.climate-change-facts .content>.fact-card-wrapper>.fact-card .fact-left {
    text-align: center;
}

section.climate-change-facts .content>.fact-card-wrapper>.fact-card .fact-left h4 {
    font-size: 22px;
    line-height: 28px;
    margin-top: 0px;
    color: #354463;
    margin-bottom: 10px;
}

section.climate-change-facts .content>.fact-card-wrapper>.fact-card .fact-left p {
    color: #354463;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 30px;
}

section.climate-change-facts .content>.fact-card-wrapper>.fact-card .fact-right {
    margin-top: 36px;
    gap: 10px;
}

section.climate-change-facts .content>.fact-card-wrapper>.fact-card .fact-right span {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 7px;
    margin-left: 7px;
    border: 2px solid #c1f7d5;
    border-radius: 50%;
    background-color: #c1f7d5;
    background-position: 50% 50%;
    background-size: 8px 16px;
    background-repeat: no-repeat;
}

section.climate-change-facts .content>.fact-card-wrapper>.fact-card .fact-right span:nth-of-type(2) {
    background-image: url("https://assets.website-files.com/5bfeef7b147a62e932311b5c/5bff238b52e010c2315cb083_iconmonstr-facebook-1.svg");
}

section.climate-change-facts .content>.fact-card-wrapper>.fact-card .fact-right span:nth-of-type(1) {
    background-image: url("https://assets.website-files.com/5bfeef7b147a62e932311b5c/5bff238b52e01035cb5cb084_iconmonstr-twitter-1.svg");
    background-size: 16px 16px;
}

/* Stories section */

section.stories {
    /* height: 961px; */
    padding-top: 60px;
    padding-bottom: 60px;
}

section.stories .content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

section.stories .content .story-top {
    width: 100%;
    flex-direction: column;
}

section.stories .content .story-top div.story-img {
    height: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

section.stories .content .story-top div.story-img img {
    max-width: 100%;
    object-fit: cover;
}

section.stories .content .story-top button {
    padding: 11px 40px;
    text-transform: uppercase;
    background-color: #354463;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}

section.stories .content .story-bottom{
    flex-direction: column;
}
section.stories .content .story-bottom .story-message {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 30px 32px;
    text-align: center;
    background-color: #354463;
    color: #fff;
    max-width: 576px;
}

section.stories .content .story-bottom .story-message .quote {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
}

section.stories .content .story-bottom .story-message p.quote-by {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 300;
}
section.stories .content .story-bottom .slider{

    gap: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
}
section.stories .content .story-bottom .slider span{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: #2266;
}
section.stories .content .story-bottom .slider span.active{
    background-color: #222;
}
section.stories .content .story-bottom .take-action{
    padding: 13px 40px;
    border-radius: 30px;
    background-color: #c1f7d5;
    color: #354463;
    font-size: 18px;
    line-height: 22px;
    border: 0;
    font-weight: 700;
}

/* Event and Updates Section*/

section.event-updates{
    width: 100%;
    padding-top: 77px;
    padding-bottom: 77px;
    background-color: #354463;
}

section.event-updates .content{
    max-width: 640px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
section.event-updates .content h3{
    font-size: 44px;
    line-height: 46px;
    text-align: center;
    font-family: "flood-std";
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 70px;
}
section.event-updates .content .event-wrapper{
    width: 100%;
}
section.event-updates .content .event-wrapper .event:not(.news){
    width: 100%;
    margin-bottom: 50px;
}

section.event-updates .content .event-wrapper .event .event-img{
    width: 100%;
    height: 100%;
    min-height: 289px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -20px;
}

section.event-updates .content .event-wrapper .event.update .event-img{
    background-image: url("https://assets.website-files.com/5bfeef7b147a62e932311b5c/5bfef6d96e7fb715536adf7d_tree-planting%402x.png");
}

section.event-updates .content .event-wrapper .event.news .event-img{
    background-image: url("https://assets.website-files.com/5bfeef7b147a62e932311b5c/5bfef6ce485801332b9f5bea_meeting%402x.png");
}

section.event-updates .content .event-wrapper .event .event-details{
    flex-direction: column;
    color: #fff;
    text-align: center;
}

section.event-updates .content .event-wrapper .event .event-details button.title{
    display: inline-block;
    padding: 11px 40px;
    color: #354463;
    background-color: #fff;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

section.event-updates .content .event-wrapper .event .event-details h4{
    font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
}
section.event-updates .content .event-wrapper .event .event-details p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
section.event-updates .content .event-wrapper .event .event-details button.read-more{
    margin-top: 30px;
    padding: 13px 20px;
    border-radius: 30px;
    background-color: #c1f7d5;
    transition: background-color 200ms ease, color 200ms ease;
    font-family: poynter-oldstyle-display, sans-serif;
    color: #354463;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

section.event-updates .content .event-wrapper .event .event-details button.read-more:hover{
    background-color: #354463;
    color: #c1f7d5;
}
  

section.newsletter{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #c1f7d5;
    width: 100%;
}

section.newsletter .content{
    padding-left: 10px;
    padding-right: 10px;
    max-width: 640px;
    margin: auto ;
    overflow: hidden;
}

section.newsletter .content h3{
    color: #354463;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}


section.newsletter .content .subscribe-form input{
    width: 100%;
    height: 48px;
    margin-right: 30px;
    padding: 10px 115px 13px 24px;
    border: 2px solid #fff;
    border-radius: 100px;
    transition: border-color 200ms ease;
    color: #354463;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
}

section.newsletter .content .subscribe-form input:focus {
    border-color: #354463;
}

section.newsletter .content .subscribe-form button{
    width: 100%;
    padding: 13px 37px;
    border-radius: 100px;
    background-color: #354463;
    transition: background-color 200ms ease, color 200ms ease;
    font-family: poynter-oldstyle-display, sans-serif;
    color: #c1f7d5;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
}

section.newsletter .content .subscribe-form button:hover {
    background-color: #fff;
    color: #354463;
}

footer{
    padding-top: 56px;
}

footer .content{
    max-width: 640px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

footer .content .site_details{
    width: 100%;
    color: #354463;
    gap: 10px;
}
footer .content .site_details .block-wrapper{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}





footer .content .site_details .contact_us.details_block{
    margin-top: 10px;
}

footer .content .site_details .learn_more.details_block{
    margin-top: 10px;
}

footer .content .site_details .follow_us.details_block{
    margin-top: 10px;
    overflow: hidden;
}

footer .content .site_details .details_block h2{
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

footer .content .site_details .details_block .horizontal_line{
    height: 1px;
    margin-bottom: 12px;
    background-color: #354463;  
    width: 60%;
}

footer .content .site_details .details_block li{
    color: #354463;
    font-size: 13px;
    line-height: 24px;
    margin-top: 5px;
    font-weight: 100;
    text-decoration: none;
    list-style: none;
}

footer .content .site_details  p.stop_message{
    margin-top: 20px;
    font-family: "flood-std";
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 300;
    line-height: 46px;
    color: #354463;
    width: 220px;
    margin-left: -20px;
    text-align: center;
}

footer .content .credits{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: #354463;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}
footer .content .credits p{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
footer .content .credits a{
    width: 100%;
    text-align: left;
    color: #354463;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    text-decoration-color: #354463;
}




/* Media Query */
@media (min-width: 480px) {
    header {
        height: 133px;
    }

    header nav {
        padding-bottom: 0px;
        max-width: 640px;
        margin: auto;
    }

    header .sub-navigation.mobile {
        display: none;
    }

    header nav span {
        display: none;
    }

    header nav button {
        display: block;
        text-decoration: none;
        color: #354463;
        background-color: #c1f7d5;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        letter-spacing: 0px;
        padding: 13px 20px;
        border-radius: 30px;
        border: 0;
        width: 100%;
        max-width: 160px;
    }

    header nav .sub-navigation.desktop button {
        display: none;
    }

    header nav .sub-navigation.desktop {
        display: flex;
        height: 57px;
        /* justify-content: center; */
        align-items: center;
        width: 100%;
        max-width: 660px;
        margin-right: auto;
        margin-left: auto;
    }

    header nav .sub-navigation.desktop a {
        display: inline-block;
        margin: 0px 20px 7px 0px;
        padding-right: 10px;
        padding-left: 10px;
    }

    main .content>.hero-message {
        align-items: flex-start;
        text-align: left;
        padding-left: 60px;
        /* max-width: 640px; */
        max-width: 560px;
        margin: auto;
    }

    main .content>.hero-message h3 {
        margin-right: -30px;
    }

    main .content>.stop-message {
        height: 50%;
        max-width: 560px;
        margin: auto;
        width: 100%;
    }

    /*****************/

    section.take-action .action-content .action>h4 {
        font-size: 28px;
        line-height: 36px;
    }

    section.take-action .action-content .action>p {
        font-size: 16px;
        line-height: 24px;
    }

    /********************/

    section.what-we-do .container {
        align-items: flex-start;
        max-width: 660px;
        margin: auto;
    }

    section.what-we-do .container p {
        text-align: left;
    }

    section.what-we-do .container .card-wrapper {
        align-items: flex-start;
    }

    section.what-we-do .container .card-wrapper .card {
        height: 470px;
        padding: 0px 30px 30px;
        align-items: flex-start;
        max-width: 576px;
    }

    section.what-we-do .container .card-wrapper .card>button.read-more {
        margin: unset;
    }

    section.what-we-do .container .card-wrapper .card .card-img {
        width: 120%;
        overflow: hidden;
        margin: auto;
        margin-top: -40px;
    }

    section.what-we-do .container .card-wrapper .card .card-img img {
        width: 100%;
        object-fit: fill;
    }

    section.what-we-do .container .card-wrapper .card>h4 {
        font-size: 28px;
        line-height: 36px;
    }

    section.what-we-do .container .card-wrapper .card>button.read-more {
        margin: unset;
    }

    /**************************/

    section.climate-change-facts .content {
        margin: auto;
    }

    section.climate-change-facts .content .left-content>h3 {
        max-width: 70%;
    }

    section.climate-change-facts .content>.fact-card-wrapper>.fact-card h3 {
        transform: unset;
        left: 60px;
    }

    section.climate-change-facts .content>.fact-card-wrapper>.fact-card {
        display: flex;
        justify-content: space-between;
    }

    section.climate-change-facts .content>.fact-card-wrapper>.fact-card .fact-left {
        text-align: left;
        width: 80%;
    }

    section.climate-change-facts .content>.fact-card-wrapper>.fact-card .fact-right {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0px;
    }

    section.climate-change-facts .content>.fact-card-wrapper>.fact-card .fact-left h4 {
        font-size: 28px;
        line-height: 36px;
    }

    /**********************/

    section.newsletter .content h3{
        font-size: 28px;
        line-height: 36px;
    }



    /***************************/

    footer .content .site_details .block-wrapper{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }

    footer .content .site_details .details_block {
        width: 33%;
        text-align: center;
    }
    
    footer .content .site_details .details_block .horizontal_line {
        width: 120%;
    }
    footer .content .site_details  p.stop_message{
       margin-left: auto;
    }
    
  

}

@media (min-width: 540px) {
    section.stories .content .story-bottom .story-message {

        margin-left: 4em;
    }
    
}

@media (min-width: 768px) {
    section.climate-change-facts .content {
        flex-direction: row;
    }

    section.climate-change-facts .content .left-content {
        width: 25%;
        margin-right: 64px;
    }

    section.climate-change-facts .content>.fact-card-wrapper {
        margin-top: 10px;
    }

    section.climate-change-facts .content>.fact-card-wrapper>.fact-card {
        padding: 30px 32px;
    }

    /******************/

    section.stories .content .story-bottom .story-message {
        margin-top: -4em;
        margin-right: -4em;
        text-align: left;
        padding: 50px 64px 60px;
    }

    section.stories .content .story-bottom .slider {
        margin-top: 30px;
    }


    /********************/


    section.event-updates .content h3{
        max-width: 100%;
        font-size: 72px;
        line-height: 76px;
        text-align: left;
    }

    section.event-updates .content .event{
        display: flex;
    }

    section.event-updates .content .event.news{
        display: flex;
        flex-direction: row-reverse;
    }

    section.event-updates .content .event .event-img{
        min-width: 288px;
    }

    section.event-updates .content .event.update .event-details{
        padding-left: 32px;
        text-align: left;
    }

    section.event-updates .content .event.news .event-details{
        padding-right: 32px;
        text-align: left;
    }


    /*******************************/

    section.newsletter .content .subscribe-form {
        display: flex;
    }
    section.newsletter .content .subscribe-form input{
        width: 75%;
    }
    section.newsletter .content .subscribe-form button{
        width: 25%;
        padding: 13px 37px;
        height: 48px;
    }

    /**********************/

    footer .content .site_details .block-wrapper {
        justify-content: space-between;
    }

    footer .content .site_details .details_block {
        width: 33%;
        text-align: center;
    }

}

@media (min-width: 998px) {
    header {
        height: 100px;
    }

    header nav {
        padding-bottom: 0px;
        max-width: 1140px;
        margin: auto;
    }

    header .sub-navigation.mobile {
        display: none;
    }

    header nav span {
        display: none;
    }

    header nav button {
        display: none;
    }

    header nav .sub-navigation.desktop button {
        display: inline-block;
        text-wrap: nowrap;
    }

    header nav .sub-navigation.desktop {
        margin-right: unset;
        justify-content: end;
    }

    header nav .sub-navigation.desktop a {
        margin: 15px 30px;
        font-weight: 100;
        text-wrap: nowrap;
    }

    main {
        height: 733px;
        background-position: 0px 0px, 50% 50%;
    }

    main .content {
        flex-direction: row-reverse;
        max-width: 1120px;
        margin: auto;
    }

    main .content .stop-message {
        width: 50%;
    }

    main .content .stop-message p {
        width: 296px;
        max-width: 100%;
        margin-top: -60px;
        margin-left: auto;
        margin-right: auto;
        font-family: flood-std, sans-serif;
        color: #fff;
        font-size: 72px;
        line-height: 76px;
    }

    main .content .hero-message {
        width: 50%;
        padding: 76px 64px 119px;
        height: 100%;
        max-height: 477px;
        align-items: flex-start;
        max-width: unset;
    }

    main .content .hero-message h3 {
        transform: translateY(-60px);
    }

    main .content .hero-message p:nth-of-type(1) {
        font-size: 43px;
        line-height: 56px;
        text-align: left;
    }

    main .content .hero-message p:nth-of-type(2) {
        margin-top: 24px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        text-align: left;
    }

    section.take-action .action-content {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
        grid-template-rows: 1fr;
        max-width: 1120px;
        margin: auto;
    }

    /*************************************/

    section.what-we-do .container {
        align-items: flex-start;
        max-width: 1140px;
        margin: auto;
    }

    section.what-we-do .container p {
        text-align: left;
        font-size: 44px;
        line-height: 56px;
        margin-bottom: 50px;
    }

    section.what-we-do .container .card-wrapper {
        align-items: flex-start;
        flex-direction: row;
        max-width: 1120px;
        margin: auto;
        width: 100%;
    }

    section.what-we-do .container .card-wrapper .card {
        height: 554px;
        padding: 0px 30px 30px;
        align-items: flex-start;
        justify-content: space-between;
        margin-right: 30px;
        max-width: 300px;
    }

    section.what-we-do .container .card-wrapper .card>button.read-more {
        margin: unset;
    }

    section.what-we-do .container .card-wrapper .card .card-img {
        width: 120%;
        overflow: hidden;
        margin: auto;
        margin-top: -40px;
    }

    section.what-we-do .container .card-wrapper .card .card-img img {
        width: 100%;
        object-fit: fill;
    }

    section.what-we-do .container .card-wrapper .card>h4 {
        text-align: left;
        margin-top: 0px;
        margin-bottom: -20px;
    }

    section.what-we-do .container .card-wrapper .card>p {
        margin-bottom: 20px;
    }

    section.what-we-do .container .card-wrapper .card>button.read-more {
        margin: unset;
    }

    /******************************/

    section.climate-change-facts .content {
        max-width: 1120px;
        justify-content: space-between;
    }

    section.climate-change-facts .content .left-content {
        width: 50%;
        margin-right: unset;
    }

    section.climate-change-facts .content .left-content h3 {
        width: 90%;
        margin-top: 30px;
        font-family: flood-std, sans-serif;
        color: #fff;
        font-size: 72px;
        line-height: 76px;
    }

    section.climate-change-facts .content>.fact-card-wrapper {
        width: 50%;
    }

    section.climate-change-facts .content>.fact-card-wrapper>.fact-card .fact-left h4 {
        font-size: 44px;
        line-height: 56px;
    }

    section.stories .content {
        max-width: 1120px;
        display: flex;
        flex-direction: row-reverse;
        height: 100%;
    }
    section.stories {
       height: 698px;
       padding-top: 108px;
       padding-bottom: 108px;
        
    }
    section.stories .content {
        max-width: 1120px;
        display: flex;
        margin: auto;
    }

    section.stories .content .story-top {
        align-items: flex-start;
        width: 50%;
    }

    section.stories .content .story-top div.story-img{
        margin-left: -50px;
    }

    section.stories .content .story-bottom .story-message{
        order: 2;
        width: 100%;
        max-width: 560px;
        margin-left: 0px;
    }
    section.stories .content .story-bottom .slider{
        order: 1;
    }
    section.stories .content .story-bottom .take-action{
       order: 3;
    }
    section.stories .content .story-bottom {
        width: 50%;
        justify-content: space-between;
        align-items: flex-start;
    }


    section.stories .content .story-top button{
        margin-bottom: -25px;
        z-index: 2;
        border: 0;
        font-size: 14px;
        letter-spacing: 3px;

    }


    /********************************/

    section.event-updates .content {
        max-width: 1120px;
    }

    section.event-updates .content h3{
        max-width: 847px;
        font-size: 72px;
        line-height: 76px;
    }

    section.event-updates .content .event{
        display: flex;
    }

    section.event-updates .content .event.news{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 8rem;
    }

    section.event-updates .content .event-wrapper .event .event-img{
        width: 50%;
        height: 588px;

    }

    section.event-updates .content .event.update .event-details{
        width: 50%;
        padding-left: 96px;
        padding-bottom: 50px;
    }

    section.event-updates .content .event.news .event-details{
        width: 50%;
        padding-right: 96px;
        padding-bottom: 50px;
    }
    section.event-updates .content .event-wrapper .event .event-details h4  {
        font-size: 44px;
        line-height: 56px;
    }
    section.event-updates .content .event-wrapper .event .event-details p {
        font-size: 20px;
        line-height: 32px;
    }

    section.event-updates .content .event-wrapper .event .event-details button.read-more{
        padding: 13px 40px;
    }

    /****************************/


    section.newsletter .content{
        max-width: 1120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }
    
    section.newsletter .content h3{
        font-size: 28px;
        line-height: 36px;
        width: 50%;
    }
    
    
    section.newsletter .content .subscribe-form {
        width: 60%;
        padding-left: 30px
    }
    
    section.newsletter .content .subscribe-form input {
       width: 75%;
    }
    
    section.newsletter .content .subscribe-form button{
        width: 25%
    }
    
    section.newsletter .content .subscribe-form button:hover {
        background-color: #fff;
        color: #354463;
    }


    /********************/
    footer .content {
        max-width: 1120px;
    }
    footer .content .site_details{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
    }
    footer .content .logo{
        width: 15%;
    }
    footer .content .site_details .block-wrapper{
        width: 70%;
        justify-content: space-evenly;
        margin-top: 0px;
    }   


    footer .content .site_details .details_block {
        width: 20%;
        text-align: left;
    }

    footer .content .stop_message{
        width: 15%;
    }

    footer .content .site_details .details_block .horizontal_line {
        width: 100%;
    }

    footer .content .site_details .follow_us.details_block {
        overflow: unset;
    }
}
    